/** @format */
body {
  padding: 0px;
  --green: rgb(8, 216, 8, 0.6);
}
.calendar {
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0.1px 0.1px 2px 0px var(--green, #777111);
}
.wrap-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  justify-content: center;
  align-items: center;
}
.wrap-calendar div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0.1px 0.1px 2px 0px var(--green, #777111);
}
.wrap-calendar .day {
  padding: 0.5rem;
  height: 10vh;
  width: 10vw;
}
.wrap-calendar div.today {
  box-shadow: inset 0px 0px 20px 20px var(--green, #777111);
}
.wrap-calendar div.today::before {
  content: "היום";
  color: #fff444;
}
.wrap-calendar div span.ld {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  color: #333;
}
.wrap-calendar div span.hd {
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
  color: #555;
}
.calendar-kit {
  display: flex;
  justify-self: center;
  place-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  box-shadow: 0.1px 0.1px 2px 0px var(--green, #777111);
}
.calendar-kit .tube {
  flex-grow: 2;
  text-align: center;
  padding: 2%;
}
.calendar-kit .tube p {
  display: inline-flex;
  vertical-align: middle;
  margin: 0;
}
.next,
.prev {
  transform: translate(var(--tilted, 0), 0);
  cursor: pointer;
  position: relative;
  background-color: rgba(22, 256, 77, 0.6);
  border-radius: 50%;
  box-shadow: none;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.next::before,
.next:after,
.prev::after,
.prev::before {
  content: "";
  height: 9px;
  background-color: rgba(22, 33, 55, 0.9);
  width: 3px;
  display: inline-block;
  transform-style: preserve-3d;
  position: absolute;
  transform-origin: center;
  left: 10px;
}
.next::before {
  transform: rotateZ(-45deg);
  top: 10px;
}
.next::after {
  transform: rotateZ(45deg);
  top: 5px;
}
.prev::before {
  transform: rotateZ(-45deg);
  top: 5px;
}
.prev::after {
  transform: rotateZ(45deg);
  top: 10px;
}
.calendar-kit .next:active,
.calendar-kit .prev:active {
  box-shadow: none;
  outline: none;
}
.calendar-kit .next:hover,
.calendar-kit .prev:hover {
  background-color: var(--green, #777111);
  box-shadow: none;
  outline: none;
}
